body {
    background: black;
    color: white;
}
img[src$='.png'] {
    background: white;
    filter: invert(100%) hue-rotate(180deg);
}
.memberdecls td, h2, .memtitle, .memitem, .memproto, .memdoc, .title, .headertitle {
    background: black;
}
.directory .even td {
    background: #101010;
}
.directory tr:not(.even) td {
    background: #151515;
}
#MSearchBox img { background: transparent; }

.el { color: #CCC; }
